*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header ul{
    list-style: none;
    line-height:6px;
}

header {
    background-color: red;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 1;    
  }

nav{
    background-color: rgba(112, 112, 112, 0.6);
    width: 100%;
}

li {
    /*background-color:rgba(55, 0, 255, 0.521);
    margin-left: 5px;
    padding: 0 2px;
    border-radius: 50%;
    border: 1px solid black;*/
    display:inline;
    
}

a {
    text-decoration: none;
}

svg {
    width:30px;
    height:30px; 
}

circle {
    stroke: black; 
    stroke-width: 3px ; 
    fill:rgb(97, 99, 216);
} 
 
text {
    font-family:times;
    font-size:18px;
    fill:gray;
} 

li svg:hover {
    cursor:pointer;
    background-color:antiquewhite;
    fill: rgb(253, 255, 253);    
}

li circle:hover {
    cursor:pointer;
    background-color:antiquewhite;
    fill: rgb(23, 44, 23);    
} 
 section{
    font-family: 'Rubik Mono One', sans-serif;
    position: relative;
    height: 100vh;
    position: relative;
    background-color:red;
    background-image: url('../img/01.png') ;
    background-position: center;
    background-repeat: no-repeat;
} 

h1,h2{
    position: absolute;
    left:50%;
    bottom: 5%;
    width: 45vw;
    transform: translateX(-50%);
    color:yellow;
    font-size:36px;
}

section:nth-child(2){    
    background-color:green;
    background-image: url('../img/02.png') ;    
} 

section:nth-child(3){    
    background-color:yellow;
    background-image: url('../img/03.png') ;    
} 

section:nth-child(3) h2{
    color:green;
}
