*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header ul{
    text-decoration: none;
    list-style: none;
    line-height:30px;
}

nav{
    background-color: rgba(112, 112, 112, 0.336);
    height:30px;
}

li{
    background-color:aqua;
    margin-left: 5px;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid black;
    display:inline;
}

section{
    font-family: 'Rubik Mono One', sans-serif;
    position: relative;
    height: 100vh;
    position: relative;
    background-color:red;
    background-image: url('../img/01.png') ;
    background-position: center;
    background-repeat: no-repeat;
} 

h1 ,h2{
    position: absolute;
    left:50%;
    bottom: 5%;
    width: 45vw;
    transform: translateX(-50%);
    color:yellow;
    font-size:36px;
}

section:nth-child(2){    
    background-color:green;
    background-image: url('../img/02.png') ;    
} 

section:nth-child(3){    
    background-color:yellow;
    background-image: url('../img/03.png') ;    
} 

h2 {
    color:green;
}
